 .navbar-brand {
     font-size: 1.75rem;
     /* font-style: oblique; */
     font-family: 'Montserrat', sans-serif;
     text-shadow: 2px 2px 15px black;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Montserrat', verdana;
 }
 
 p,
 span,
 li,
 i,
 a {
     font-family: 'Montserrat', sans-serif;
 }
 
 .nav-link-menu {
     font-weight: 600 !important;
 }
 
 .nav-link-menu:hover {
     box-shadow: 2px 2px 10px gray;
     border-radius: 2.5rem;
     background-color: ghostwhite;
     transform: translateY(0.25rem);
     border: 1px solid #eeeeee;
     transition: 0.75s ease-in-out;
 }
 
 .space {
     margin-right: 6rem;
 }
 
 #navbar-image {
     width: 2rem;
     height: 2rem;
 }
 
 .navbar-image:hover {
     box-shadow: 2px 2px 10px gray;
     border-radius: 2.5rem;
     background-color: ghostwhite;
     transform: translateY(0.35rem);
     border: 1px solid #eeeeee;
     transition: 0.75s ease-in-out;
 }
 
 .round {
     border-radius: 33px;
 }
 
 .shad {
     box-shadow: 6px 6px 50px black;
 }
 
 .trans {
     background-color: rgba(0, 0, 0, 0.82);
     border: 0px solid white;
 }
 
 a:hover {
     text-decoration: none;
 }
 
 .space {
     margin-right: 5rem;
 }
 
 .text-white-50:hover {
     color: ghostwhite !important;
 }
 
 .circle-link {
     height: 3rem;
     width: 9rem;
     border-radius: 40px;
     margin: 8px;
     background-color: white;
     border: 1px solid #eeeeee;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     box-shadow: 0 1px 3px darkslategray;
     transition: 0.75s ease-in-out;
 }
 
 .circle-link:hover {
     transform: translateY(0.25rem);
     box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
 }
 
 .justify {
     text-align: justify;
 }
 
 .home-spacing {
     margin: 5rem 0rem 0rem 0rem;
     padding: 6rem;
 }
 
 .home-slide {
     width: 81rem;
     height: 25rem;
 }
 
 .anime {
     display: flex;
     justify-content: center;
 }
 
 .anime-logos {
     width: 2.3rem;
     height: 2.3rem;
 }
 
 svg#clouds {
     position: fixed;
     bottom: -160px;
     left: -230px;
     z-index: -10;
     width: 1920px;
 }
 
 .top-spacing {
     margin: 9rem 8rem 5rem 8rem;
 }
 
 #brand-image {
     width: 2.9rem;
     height: 2.9rem;
 }
 
 .home-image {
     width: 19rem;
     height: 16rem;
     border-radius: 3rem;
 }
 
 .m-l {
     margin-left: 7.5rem;
 }
 
 .home-page {
     padding: 4rem;
 }
 
 @media screen and (max-width: 767px) {}
 
 @media screen and (max-width: 575px) {
     .top-spacing {
         margin: 8rem 1rem 5rem 1rem;
     }
     .big-mobile {
         width: 100% !important;
     }
     .home-image {
         width: 13rem;
         height: 9rem;
         margin: 0rem 0rem 0rem 4.75rem;
     }
     .little {
         width: 100% !important;
         margin: 0rem;
         padding: 0rem;
     }
     .big-little {
         width: 100% !important;
         margin: 1.2rem 2rem 1.5rem 2rem;
         padding: 2.2rem 2rem 2rem 2rem;
     }
     .big-little-big {
         width: 100% !important;
         margin: 0rem 2rem 1.5rem 2rem;
         padding: 0rem 2rem 2rem 2rem;
     }
     .home-slide {
         width: 31.2rem;
         height: 15rem;
     }
     .circle-link {
         width: 11rem;
     }
     .little-big {
         width: 100% !important;
         margin: 0rem;
         padding: 0rem;
     }
     .anime-logos {
         width: 1.55rem;
         height: 1.55rem;
     } 
 }
